body {
    margin: 0;
    padding: 0
    font-family: 'Roboto', 'Open sans', 'Verdana', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #444240;
    min-width: 1200px;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.main-header-nav-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 95px;
    padding-right: 95px;
}

.header__img {    
    padding-top: 35px;
    padding-bottom: 28px;
    margin-right: auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 422px;
    
    margin: auto;
    
    list-style: none;
}

.site-navigation__item {
    padding-top: 35px;
    padding-bottom: 28px;
    margin-right: 35px;
    
    font-size: 14px;
    line-height: 16px;

    color: #555248;
}
    
.user-navigation {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.user-navigation__item {
    list-style: none;
    
    padding-top: 40px;
    padding-bottom: 29px;
    
    margin-right: 20px;
}

.promo {
  background: url("img/elipse_main.png") no-repeat 55%;
}

.promo-wrapper {
    display: flex; 
  justify-content: flex-start;
  padding-left: 95px;
    padding-right: 95px;
}

.promo-text-col {
    width: 420 px;
    padding: 235px 0;  
}

.promo-img-col {
    display: flex;
  justify-content: space-between;
  width: 750px;    
}

h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;

    color: #1B1A17;
}

.promo-title {
    font-size: 30px;
    line-height: 40px;
}

.promo-title span {
    font-size: 45px;
    line-height: 60px;
    display: block;
    margin-bottom: 16px;
}

.promo-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    color: rgba(27, 26, 23, 0.82);
    
    margin-bottom: 39px;
}

.btn {
    display: inline-block;
   
    padding: 26px 38px;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
}

.btn-grey {
    background: #444240;
}

.promo-price::after {
    content: "";
    width: 50px;
    background: url("img/line.png") no-repeat;
    display: inline-block;
}

.promo-description {
    align-self: flex-end; 
  
}

.promo-img-text {
    font-family: 'Prata';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.popular {
    margin-top: 80px;
    margin-bottom: 120px;
}

.popular__header {
    display: flex;
}

.popular__title {
    margin: auto;   
}

.show-more {
  align-self: flex-end;  
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  text-decoration: underline;
}

.popular__list {
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  margin-right: -35px;    
}

.popular__item {
    list-style: none;  
    
    display: flex;
    flex-direction: column;    
    margin-right: 35px;
}

a {
    text-decoration: none;
}

.popular__subtitle {
  font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: rgba(27, 26, 23, 0.82);
  text-transform: uppercase;
  
  margin-bottom: 10px;
}

.popular__price {
  font-family: Prata;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

color: rgba(27, 26, 23, 0.82);
  
  margin-top: 0;
  margin-bottom: 0;
}



.popular__link {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;
}

.banner {
  background: url("img/frame 1.png") no-repeat center center;
  background-size: 100%;
  margin-bottom: 80px;
}

.banner-wrapper {
    display: flex;
    justify-content: center;  
}

.banner-img-col {
    width: 600px;    
    padding: 52px 0 52px 80px;    
  
  display: flex;
  flex-direction: column;  
}

.gallery-button {
  align-self: flex-end;  
}

.btn-previous {
  backgorund: url("img/arrow_left.svg") no-repeat;
  background-size: 5px 10px;
  border: none;
  height: 10px;
}

.btn-next {
  backgorund: url("img/arrow_right.svg");
  background-size: 5px 10px;
  border: none;
  height: 10px;
}

.galerry-button span {
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.banner-text-col {
    width: 570px;
    padding: 140px 125px 135px 70px;     
}

.btn-orange {
    background: #D4B098;
}

.news-wrapper {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.news-text-col {
    width: 540 px;
    padding: 140px 70px 150px 0;    
    box-sizing: border-box;
}

.news__link {
  font-weight: bold;
  color: #262421;  
}

.news-text-col p {
  width: 470px;
}

.social__list { 
  display: flex;    
  
  margin: 0;
  padding: 0;
}

.social__item {   
  list-style: none;
  
  margin-right: 18px;
}

.news-img-col {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 470px;  
  margin-right: -10px; 
}

.news__img {    
    margin-right: 10px; 
}

.news__img:first-of-type {
  margin-bottom: 10px;
}

.main-footer {
    background: #444240;
    margin-top: 90px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.main-footer-wrapper {
    display: flex;
    justify-content: space-around;
}

.main-footer-column {
  width: 240px;
}

.contacts-list {
  margin-top: 0; 
}



.main-footer ul {
    padding-left: 0;
    margin-left: 0;
}

.main-footer-title {
    font-family: Roboto, Open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-footer-link {
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 15px;
}
